<!DOCTYPE html>
<html lang="en">
  <%- include("parts/header.ejs") %>
  <body>
    <div class="container">
      <%- include("parts/navbar.ejs") %>
      <br />
      <%- include("parts/card.ejs") %>
    </div>
  </body>
</html>
